
.button {
font-size:500%;
font-family: Segoe UI
    display: block;
    height: 30%;
    width: 100%;
    background: #66CCFF;
    border: 2px solid rgba(33, 68, 72, 0.59);
}

.h1 {
font-family: Segoe UI;
font-size: 24px;
font-style: normal;
font-variant: normal;
line-height: 17.6px;

}

.status {
font-family: Segoe UI;
font-size: 1000%;
font-style: normal;
font-variant: normal;
line-height: 100%;
text-align: center;

}

.body {
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-variant: normal;
font-weight: 100;
line-height: 17.6px;

}
